if SHIELD_HEARTBREAK_LEFT

config ZMK_KEYBOARD_NAME
	default "Heartbreak"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_HEARTBREAK_LEFT || SHIELD_HEARTBREAK_RIGHT

config ZMK_SPLIT
	default y

endif
